<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    {% block head %}
    <title>{% block title %}Pulse{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="default-style" content="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Out-of-the-box Monitoring and Alerting.">
    <meta property="og:title" content="Pusle">
    <meta property="og:type" content="website">
    <link rel="icon" href="/static/icon.svg" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/static/style.css" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    {% endblock %}
  </head>
  <body dir="ltr">
    <main>
      {% block main %}{% endblock %}
    </main>
    <aside class="top-menu">
      <a href="/">Pulse</a>
      <nav>
        <ul></ul>
      </nav>
    </aside>
  </body>
</html>

